body {
  background-color: #59253a;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

#displayBooksDiv {
  padding-top: 20px;
  padding-left: 75px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.bookCard {
  background-color: #78244c;
  color: white;
  width: 190px;
  height: 280px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
}

.bookTitleText {
}

#buttonDiv {
  padding-top: 20px;
  text-align: center;
}

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #895061;
  color: white;
  padding: 16px 20px;

  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 20px;

  width: 280px;
}

.book-read {
  background-color: #78244c;
  border-left: 10px solid;
  border-color: rgb(9, 255, 0);
  color: white;
  width: 190px;
  height: 280px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
}

.book-not-read {
  background-color: #78244c;
  border-left: 10px solid;
  border-color: rgb(255, 0, 0);
  color: white;
  width: 190px;
  height: 280px;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
}

.small-button {
  background-color: #895061;
  color: white;
  padding: 6px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  font-size: 14px;
  margin-bottom: 10px;

  width: 160px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 10%;
  right: 50%;

  border: 3px solid #2d4159;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  width: 300px;
  padding: 10px;
  background-color: #2d4159;
  color: white;
}

/* Full-width input fields */
.form-container input[type="text"],
.form-container input[type="number"] {
  width: 80%;
  padding: 15px;
  margin: 15px 0 22px 0;
  border: none;
  background: #0677a1;
  color: white;
}

.form-container input[type="radio"] {
  padding: 15px;
  margin: 15px;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}
